/*******default style*********/
* {
    margin: 0px;
}
/*********section navbar styling*********/
.navbar {
    display: absolute;
    width: 1425px;
    height: 500px;
    background: url(../images/banner.png);
}
.container_nav {
    width: 1425px;
    height: 80px;
    background: linear-gradient(180deg, rgba(212, 215, 218, 0.7) 0%, rgba(255, 255, 255, 0) 100%), rgba(242, 242, 242, 0.7);
}
.container_nav a:not(:nth-child(1)) {
    text-decoration: none;
    display: block;
    float: right;
    padding: 15px;
    margin-top: 14px;
    color: black;
}
.container_nav a:hover {
    background-color: grey;
    color: honeydew;
    text-decoration: underline;
}
